/* .App {
  text-align: center;
} */

.Section-header {
  margin-top: 50px;
  text-align: center;
}

.Search-container {
  background-color: rgb(184, 223, 255);
  height: 50vh;
  color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Search-group-chat {
  width: 50vw;
}

.Submit-search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.Subject-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.Marginal-container {
  margin: 20px;
}

.Profile {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.Placeholder-pic {
  font-size: 100px;
}

.Login-form {
  width: 30vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Signup-form {
  width: 30vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Course-links, .Course-links:hover {
  text-decoration: none;
  color: black;
}

.Add-chat-container {
  background-color: rgb(255, 223, 184);
  height: 50vh;
  color: 282c34;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Chat-id {
  padding-top: 20px;
  line-height: 3rem;
}

.Add-chat {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}

@media screen and (max-width: 1000px) {
  .Search-group-chat {
    width: 70vw;
  }

  .Subject-list {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
  }

  .Login-form {
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Signup-form {
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
